/*  your css code here. If applicable */
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}



.box{
	height: 100px;
	width:800px;
	background-color: whitesmoke;
	position: relative;
	left: 200px;
	top:-200px;
	
}

.box:focus{
	height: 100px;
	width:800px;
	background-color: whitesmoke;
	position: relative;
	left: 200px;
	top:0px;
}

.green{
	height: 37px;
	background-color: lightgreen;
}
